.leaderboard{
    margin: 25px;
    background-color:#BDDDFC;
    width: 50vw;
    height:70vh;
    display:flex;
    flex-direction: column;
    border: 5px solid #384959
}
.leaderboard .footer{ 
    display:flex; 
    margin-top:auto;  
    justify-content: space-between;
    padding-left: 10px;
    padding-right:10px;
}
.leaderboard .page-number{
    display: flex;
    justify-content:space-between;
}
.leaderboard .leaderboard-list{
    overflow-x:hidden;
}
.leaderboard .column-describers{
    margin-top:-20px;
    margin-bottom: -15px;
    margin-left:10px;
    margin-right:10px;
}
